{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}" />

<style media="screen">

  body {background-image: url("../static/image/bank_inside.jpg");}

</style>


{% endblock %}


{% block navbar %}

    {% include "_navbar.html" %}

{% endblock %}

{% block app_content %}

<div class="container-fluid">

  {% if current_user.parent %}
  <div class="card">
    <div class = "row no-gutters">
      <div class="col-md-4 ">
      </div>
      <div class="col-md-5 justify-content-center bg-primary">
        <div class="card-body">
        <h3>Oi, {{ current_user.username }}!</h3>
        <h3>O saldo do João Marcus é de R$ {{ balance }}!</h3>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="card ">
    <div class = "row no-gutters">
      <div class="col-md-4 ">
      </div>
      <div class="col-md-5 justify-content-center bg-primary">
        <div class="card-body">
          <h3 class="card-title text-center">Transação</h3>
          <div class="card-text">
          {{ wtf.quick_form(form, form_type="horizontal") }}
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>

  {% else %}
  <div class="card">
    <div class = "row no-gutters">
      <div class="col-md-4 ">
      </div>
      <div class="col-md-5 justify-content-center bg-primary">
        <h3>Oi, {{ current_user.username }}!</h3>
        <h3>Seu saldo é de R$ {{ balance }}!</h3>
      </div>
    </div>
  </div>

  {% endif %}
  <br>

  <div class="card">
    <div class = "row no-gutters">
      <div class="col-md-4 ">
      </div>
      <div class="col-md-5 justify-content-center bg-primary">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th> Data </th>
              <th> Operação </th>
              <th> Valor </th>
              <th> Descrição </th>
            </tr>
          </thead>
          <tbody>
            {% for line in account_statement %}
            <tr>
              <td>{{ line.timestamp.strftime('%d.%m.%Y') }}</td>
              {% if line.operation %}
              <td>Depósito</td>
              {% else %}
              <td>Retirada</td>
              {% endif %}
              <td>{{ line.ammount }}</td>
              <td>{{ line.description }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
{% endblock %}
