{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}" />

<style media="screen">

  body {background-image: url("../static/image/bank_entrance.jpg");}

</style>


{% endblock %}

{% block app_content %}
<div class="container-fluid" id="login-card">
  <div class="card align-middle">
    <div class = "row no-gutters">
      <div class="col-md-3 ">
      </div>
      <div class="col-md-5 bg-primary">
      <div class ="justify-content-center text-white">
        <div class="card-body">
          <h1 class="card-title text-center">Sign In</h1>
          <div class="card-text">
          {{ wtf.quick_form(form, form_type="horizontal") }}
          </div>
          <br>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
